.aw-botask .board table.maintable {
	width: 100%;
}
.aw-botask .board td.leftcol {
	width: 90%;
}
.aw-botask .board .leftcol .colbody {
	padding-right: 0.7em;
}
.aw-botask .board td.rightcol {
	background-color: #F2F2F1;
}
.aw-botask .board .rightcol .colbody {
	width: 220px;
}

.aw-botask .board {
	width: 100%; 
}
.aw-botask .board .mainmenu {
	padding-bottom: 10px;
	border-bottom: 1px dotted #73A110;
    clear: both;
}
.aw-botask .board .mainmenu li {
	margin-top: 10px;
	text-align: center;
}
.aw-botask .board .mainmenu li a {
	color: #000;
	text-decoration: none;
}
.aw-botask .board .mainmenu li a:hover {
	text-decoration: underline;
}
.aw-botask .board .mainmenu li .cmtnew {
	font-weight: bold;
	margin-left: 2px;
	color: red;
	vertical-align: top;
	font-size: 0.7em;
}
