.aw-botask .comments ul.tkitem {
}
.aw-botask .comments ul.tkitem li.task {
	float: left;
	width: 200px;
}
.aw-botask .comments ul.tkitem li.comment {
	float: left;
	width: 800px;
	
}
.aw-botask .comments .delim {
	maring-bottom: 10px;
}
.aw-botask .comments ul.tkitem li.comment .mod-comment,
.aw-botask .comments ul.tkitem li.comment .mod-comment .item .meta {
	margin-top: 0;
}
.aw-botask .comments ul.tkitem li.task {
	font: 0.93em Tahoma,sans-serif;
}
.aw-botask .comments ul.tkitem li.task .navlist {
	padding-right: 10px;
}
.aw-botask .comments ul.tkitem li.task a {
	text-decoration: none;
}
.aw-botask .comments ul.tkitem li.task a:hover {
	text-decoration: underline;
}
