.aw-botask .red { color: red; }
.aw-botask .bold { font-weight: bold; }
.aw-botask .btn {
    margin: 4px 2px;
    padding: 1px 6px;
}
.aw-botask select, 
.aw-botask input, 
.aw-botask button, 
.aw-botask textarea, 
.aw-botask button {
    font: 99% arial,helvetica,clean,sans-serif;
}

.aw-botask .yui-nav .selected a,
.aw-botask .yui-nav .selected a:hover {
    color: #FFFFFF !important;
}

/* * * * * * Navigate * * * * * */
.aw-botask table.maintable {
	width: 100%;
}
.aw-botask table.maintable td.leftcol {
	width: 90%;
}
.aw-botask table.maintable td.leftcol .colbody {
	padding-right: 0.7em;
}
.aw-botask table.maintable td.rightcol {
	background-color: #F2F2F1;
}
.aw-botask table.maintable td.rightcol .colbody {
	padding: 0 0.6em;
	width: 220px;
}

.aw-botask .sepline {
	height: 1px;
	background-color: #CEDC8D;
}

.aw-botask .navigate {
	font-size: 1.5em;
	margin-bottom: 0.6em;
}
.aw-botask .navigate .first .arrow {
	display: none;
}
.aw-botask .navigate .current a {
	color: #666666;
}

/* * * * * * Global Menu * * * * * */
.aw-botask .gheadermenu {
	position: relative;
	padding: 15px 0 0 150px;
	height: 100px;
}
.aw-botask .gheadermenu h2 {
	padding: 5px 10px;
	font-size: 1.5em;
	background-color: #8c8d8e;
	color: #fff;
	cursor: pointer;
}
.aw-botask .gheadermenu img.logo {
	position: absolute;
	width: 96px;
	height: 96px;
	top: 0;
	left: 30px;
}
.aw-botask .gheadermenu ul.topmenu {
	margin: 10px;
	margin-top: 6px;
}
.aw-botask .gheadermenu ul.topmenu > li{
	float: left;
    padding: 1px 0.5em;
    margin-right: 10px;
}
.aw-botask .gheadermenu ul.topmenu a {
	font-size: 
}
.aw-botask .gheadermenu ul.topmenu li.sel {
	background: none repeat scroll 0 0 #E3E3D7;
    border: 1px solid #DDD9E2;
}
.aw-botask .gheadermenu ul.topmenu li.sel a {
	color: #000;
	text-decoration: none;
}
.aw-botask .gbbuttons {
	position: absolute; top: 92px; right: 0px;
}
.aw-botask .gbaboutbuttons {
	position: absolute; top: 23px; right: 10px;
}
.aw-botask .gbaboutbuttons a {
	color: #dadada;
	font-size: .95em;
}

.aw-botask .gbmenu a {
	text-decoration: none;
	font-size: 1.2em;
	color: #000;
}
.aw-botask .gbmenu .gbitems {
	margin-left: 10px;
}
.aw-botask .gbmenu .gbitem {
	background-color: #F4F4EE;
	text-align: center;
	min-width: 100px;
	cursor: pointer;
	float: left;
	margin: 0 1px;
	padding: 5px 15px; 
}
.aw-botask .gbmenu .gbitem:hover {
	text-decoration: underline;	
}
.aw-botask .gbmenu .current {
	background-color: #E3E3D7;
}
.aw-botask .gbmenu .current:hover {
	text-decoration: none;	
}
.aw-botask .gbmenu .line {
    background: url("/modules/botask/images/gmshadow.png") repeat-x scroll 0 0 transparent;
	height: 16px;
}

/* * * * Favorite in GMenu * * * */
.aw-botask .ghm .mifav {
	position: relative;
}
.aw-botask .ghm .mifav .vcont {
	position: absolute; top: 15px; left: 0;
	display: none;
	padding-top: 5px;
	width: 600px;
	background-color: #FFF;
	z-index: 1;
}
.aw-botask .ghm .miincoming .vcont {
	left: -50px !important;
}
.aw-botask .ghm .miupdating .vcont {
	left: -100px !important;
}
.aw-botask .ghm .micomments .vcont {
	left: -220px !important;
}

.aw-botask .ghm .red {
	color: red;
}
.aw-botask .ghm .mifav:hover .vcont {
	display: block;
}
.aw-botask .ghm .mifav .ldg {
    border: 1px solid #8C8D8E;
    padding: 20px;	
}

/* * * * * * User Form * * * * * */
.aw-botask .ui-form dl {
    margin: 0 0 0.3em;
    padding: 0;
}
.aw-botask .ui-form dt {
    clear: left;
    float: left;
    padding: 0.5em 0 0.5em 0.5em;
    width: 10em;
}
.aw-botask .ui-form dd {
    float: none;
    margin-left: 10em;
    padding: 0.5em 2em;
}
.aw-botask .ui-form .font-large {
	font-size: 140%;
}
.aw-botask .ui-form .input-text {
	border: 1px solid #CCCCCC;	
}

.aw-botask .fav-icon-normal,
.aw-botask .fav-icon-small {
    cursor: pointer;
}
.aw-botask .fav-icon-normal img {
    background: url("/modules/botask/images/fav-n.png") no-repeat scroll center 0 transparent;
    float: none !important;
    height: 14px;
    margin: 0 !important;
    width: 14px;
}
.aw-botask .fav-icon-small img {
    background: url("/modules/botask/images/fav-s.png") no-repeat scroll center 0 transparent;
    height: 10px !important;
    width: 10px !important;
}
.aw-botask .fav-icon-normal img.fav-checked {
    background-position: center -14px;
}
.aw-botask .fav-icon-small img.fav-checked {
    background-position: center -10px;
}
.clear {
	clear: both;
}

.aw-botask .baddtask {
    color: #73A110;
    border-bottom: 1px dotted;
    margin-right: 1em;
    text-decoration: none;
    font-size: 1.5em;
}

.aw-botask .priority1 .prtclr {	color: #C82100; }
.aw-botask .priority2 .prtclr { color: #FF4E00; }
.aw-botask .priority3 .prtclr {	color: #006699; }
.aw-botask .priority4 .prtclr {	color: #DDDDDD; }
.aw-botask .priority5 .prtclr {	color: #839097; }


/* * * * * * Box * * * * * */
.aw-botask .boxitem {
	border: 1px solid #8C8D8E;
	position: relative;
}
.aw-botask .boxitem .head {
	cursor: pointer;
	height: 25px;
	position: relative;
	background-color: #E3E3D7;
	border-bottom: 1px solid #8C8D8E;
}
.aw-botask .boxsthide .head {
	border-bottom: none;
	/* background-color: #d2d2c7; /**/
}
.aw-botask .boxitem .head .info {
	padding-top: 5px;
	padding-left: 12px;
}
.aw-botask .boxitem .head span.title {
	margin-right: 7px;
	font-size: 1em;
}
.aw-botask .boxitem .shbox {
	position: absolute;
	width: 25px;
	height: 15px;
	top: 5px;
	right: 7px;
}
.aw-botask .boxsthide .shbox {
	background: url("/modules/sys/images/container.png") no-repeat scroll 0 0 transparent;
}
.aw-botask .boxstshow .shbox {
	background: url("/modules/sys/images/container.png") no-repeat scroll 0 -18px transparent;
}
.aw-botask .boxitem .boxbody {
	background-color: #fff;
	width: 100%;
}
.aw-botask .boxsthide .boxbody {
	display: none;
}

.aw-botask .boxsthide:hover .boxbody {
	display: block;
	position: absolute;
	left: -1px;
	top: 26px;
	z-index: 1;

	border: 1px solid #dadada;
	border-top: none;
}
.aw-botask .boxitem  .emptyrows {
	padding-top: 10px;
	height: 28px;
	text-align: center;
}
