.aw-botask .taskview a {
	text-decoration: none;
}

.aw-botask .taskview .taskbody {
	background-color: #F9F5DF;
	padding: 0.5em 1em;
}
.aw-botask .taskview .manbuttons {
	height: 22px;
}

.aw-botask .taskview .manbuttons,
.aw-botask .taskview .ptbuttons {
	margin: 1em 0;
}
.aw-botask .taskview .btkbt {
	border-bottom: 1px dotted;
	margin-right: 1em;
}
.aw-botask .taskview .beditor {
	color: #006699;
}
.aw-botask .taskview .bsetexec {
	color: #73A110;
	font-size: 1.5em;
}
.aw-botask .taskview .bremove {
	color: #D6583F;
}

.aw-botask .taskview .ptlistsh {
	color: #006699;
	font-size: 1.4em;
}
.aw-botask .taskview .ptappend {
	color: #006699;
}
.aw-botask .taskview .ptlist {
	clear: both;
	margin-top: 0.5em;
	margin-bottom: 1.3em;
	display: block;
}
.aw-botask .taskview .author {
	width: 220px;
}

.aw-botask .colinfo .cirow  {
	margin: 5px 0;
	clear: both;
	padding-bottom: 3px;
	border-bottom: #73A110 1px dotted;
}
.aw-botask .colinfo .nobline {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	border-bottom: none !important;
}

.aw-botask .colinfo .tl {
	font-weight: bold; 
	clear: both;
}
.aw-botask .colinfo .tl {
	float: left;
}
.aw-botask .colinfo .vl {
	width: 100%;
}
.aw-botask .colinfo .vi {
	width: 100%;
	text-align: right;
}
.aw-botask .colinfo .status {
	text-align: center;
	font-size: 1.4em;
}

.aw-botask .colinfo .priority .vi {
	font-weight: bold;
}
.aw-botask .colinfo ._dl .dt,
.aw-botask .colinfo .ddl .dt {
	font-size: 1.37em;
}
.aw-botask .colinfo ._dl .tm, 
.aw-botask .colinfo .ddl .tm {
	font-size: 1.2em;
}
.aw-botask .colinfo .user {
	font-weight: bold;
	margin-bottom: 5px;
}

.aw-botask .taskview .dialog {
	padding: 7px;
	width: 500px;
	margin: 10px auto;
	line-height: 1.4em;
}
.aw-botask .taskview .dialog h4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 3px;
}

.aw-botask .taskview .dialog div.dbtns{
	text-align: right;
}
.aw-botask .taskview .dialog a.yes,
.aw-botask .taskview .dialog a.no {
	color: #000;
	text-decoration: underline;
}
.aw-botask .taskview .dialog a.no {
	margin-left: 10px;
}
.aw-botask .taskview .alarm  {
	background-color: #FFF2F2;
}