.aw-botask .tlist table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
.aw-botask .tlist table th {
	background-color: #F4F4EE;
	font-weight: normal;
	padding: 0;
	white-space: nowrap;
	text-align: left;
}

.aw-botask .tlist th a {
	color: #000;
}
.aw-botask .tlist th a:hover {
	text-decoration: underline;
}

.aw-botask .tlist th ul {
	height: 2.1em;
}
.aw-botask .tlist th li {
	margin-top: 0.4em;
	float: left;
}
.aw-botask .tlist th .sort-asc,
.aw-botask .tlist th .sort-desc,
.aw-botask .tlist th .sortstr-asc,
.aw-botask .tlist th .sortstr-desc,
.aw-botask .tlist th .sortdate-asc,
.aw-botask .tlist th .sortdate-desc {
	display: none;
	margin-top: 2px;
	margin-left: 2px;
	height: 13px;
	background: url("/modules/botask/images/icons.gif") no-repeat 0 0 transparent;
}
.aw-botask .tlist th .sort-asc ,
.aw-botask .tlist th .sort-desc {
	width: 3px;
	background-position: 0 -11px;
}
.aw-botask .tlist th .sort-desc {
	background-position: -4px -11px;
}
.aw-botask .tlist th .sortstr-asc {
	width: 9px;
	background-position: -7px -11px;
}
.aw-botask .tlist th .sortstr-desc {
	width: 9px;
	background-position: -16px -11px;
}
.aw-botask .tlist th .sortdate-asc {
	width: 22px;
	background-position: -25px -11px;
}
.aw-botask .tlist th .sortdate-desc {
	width: 22px;
	background-position: -47px -11px;
}
.aw-botask .tlist th ul.sa .sort-asc,
.aw-botask .tlist th ul.sa .sortstr-asc, 
.aw-botask .tlist th ul.sa .sortdate-asc {
	display: inherit;
}
.aw-botask .tlist th ul.sb .sort-desc,
.aw-botask .tlist th ul.sb .sortstr-desc, 
.aw-botask .tlist th ul.sb .sortdate-desc {
	display: inherit;
}


.aw-botask .tlist tr.row td {
	padding: 0.5em 0.3em 0.6em 0.3em;
}

.aw-botask .tlist table th.tname {
	width: 75%;
}
.aw-botask .tlist table th.tname .tl {
    margin-left: 30px;
}
.aw-botask .tlist .tname .ch-ico {
	float: left;
	height: 15px;
}
.aw-botask .tlist .tname .ch-tl {
	margin-left: 20px;
}
.aw-botask .tlist div.ch-btn {
    background: url("/modules/botask/images/expd.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
	margin-top: 0.25em;
    margin-left: 4px;
    width: 20px;
}
.aw-botask .tlist .expanded div.ch-btn {
    background-image: url("/modules/botask/images/clps.gif");
}
.aw-botask .tlist .nochild div.ch-btn {
    background-image: none;
}
.aw-botask .tlist .tname .new,
.aw-botask .tlist .tname .chnew {
	display: none;
	font-family: sans-serif;
	vertical-align: top;
	font-size: 60%;
	color: red;
}
.aw-botask .tlist .tname .chnew {
	font-size: 50%;
	vertical-align: bottom;
}
.aw-botask .tlist .tchnew .tname .chnew,
.aw-botask .tlist .tnew .tname .new {
		display: inline;
}

.aw-botask .tlist .level0 .tname .ch-ico{}
.aw-botask .tlist .level0 .tname .ch-tl	{font-size:		1.3em;}

.aw-botask .tlist .level1 .tname .ch-ico{margin-left:	15px;}
.aw-botask .tlist .level1 .tname .ch-tl {font-size:		1.2em;}

.aw-botask .tlist .level2 .tname .ch-ico{margin-left:	30px;}
.aw-botask .tlist .level2 .tname .ch-tl {font-size:		1.1em;}

.aw-botask .tlist .level3 .tname .ch-ico{margin-left:	45px;}
.aw-botask .tlist .level3 .tname .ch-tl {font-size:		1em;}

.aw-botask .tlist .level4 .tname .ch-ico{margin-left:	60px;}
.aw-botask .tlist .level4 .tname .ch-tl {font-size:		0.9em;}

.aw-botask .tlist .level5 .tname .ch-ico{margin-left:	75px;}
.aw-botask .tlist .level5 .tname .ch-tl {font-size:		0.8em;}

.aw-botask .tlist .level6 .tname .ch-ico{margin-left:	90px;}
.aw-botask .tlist .level6 .tname .ch-tl {font-size:		0.75em;}

.aw-botask .tlist .level7 .tname .ch-ico{margin-left:	105px;}
.aw-botask .tlist .level7 .tname .ch-tl {font-size:		0.7em;}

.aw-botask .tlist .level8 .tname .ch-ico{margin-left:	120px;}
.aw-botask .tlist .level8 .tname .ch-tl {font-size:		0.65em;}

.aw-botask .tlist .level9 .tname .ch-ico{margin-left:	135px;}
.aw-botask .tlist .level9 .tname .ch-tl {font-size:		0.6em;}

.aw-botask .tlist .level10 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level10 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level11 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level11 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level12 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level12 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level13 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level13 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level14 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level14 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level15 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level15 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level16 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level16 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist table th.tddl {
	width: 9em;
} 
.aw-botask .tlist table th.tautor, 
.aw-botask .tlist table th.texec {
	width: 25%;
}
.aw-botask .tlist table th.tfav {
	width: 32px;
}
.aw-botask .tlist table th.tvot {
	width: 50px;
}

.aw-botask .tlist table th.tprt {
	width: 9em;
	text-align: center;	
}
.aw-botask .tlist table td.tprt .prtclr {
	text-align: center;
}

.aw-botask .tlist table .expired td, 
.aw-botask .tlist table .expired td a,
.aw-botask .tlist table .expired td.tprt .tl {
	color: #C82100; 
}

.aw-botask .tlist table .closed td,
.aw-botask .tlist table .closed td .prtclr,  
.aw-botask .tlist table .closed td a,
.aw-botask .tlist table .closed td.tprt .tl {
	color: #839097; 
}

.aw-botask .tlist tr.row:hover, 
.aw-botask .tlist tr.row-hover {
	background: none repeat scroll 0 0 #FFF0C6;
}

.aw-botask .tlist .tlmenu {
	margin-left: 10px;
}
.aw-botask .tlist .tlitem {
	cursor: pointer;
	float: left;
	background-color: #E3E3D7;
	margin: 0 1px;
	padding: 5px 15px; 
}
.aw-botask .tlist .tlitem:hover {
	text-decoration: underline;
	
}
.aw-botask .tlist .current {
	background-color: #F4F4EE;
}
.aw-botask .tlist .ttable {
	clear: both;
}

.aw-botask .voting {
	overflow: hidden;
	height: 15px;
	outline: medium none;
}
.aw-botask .voting .up,
.aw-botask .voting .down {
	margin-top: 3px;
	width: 10px;
	height: 11px;
	cursor: pointer;
	float: left;
}
.aw-botask .voting .res {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	float: left;
	margin-left: 2px;
	color: #AAAAAA;
}

.aw-botask tr.row:hover .voting .up {
	background: url("/modules/botask/images/icons.gif") no-repeat scroll 0px 0 transparent;
}
.aw-botask tr.row:hover .voting .up:hover {
	background: url("/modules/botask/images/icons.gif") no-repeat scroll -60px 0 transparent;
}
.aw-botask tr.row:hover .voting .down {
	background: url("/modules/botask/images/icons.gif") no-repeat scroll -10px 0 transparent;
	margin-left: 2px;
}
.aw-botask tr.row:hover .voting .down:hover {
	background: url("/modules/botask/images/icons.gif") no-repeat scroll -50px 0 transparent;
}
.aw-botask .voting-process tr.row:hover .voting .up,
.aw-botask .voting-process tr.row:hover .voting .down,
.aw-botask .voting-process .up,
.aw-botask .voting-process .up:hover,
.aw-botask .voting-process .down,
.aw-botask .voting-process .down:hover {
	background: none;
	cursor: inherit;
}

