.aw-botask .taskview table.maintable {
	width: 100%;
}
.aw-botask .taskview td.leftcol {
	width: 90%;
}
.aw-botask .taskview .leftcol .colbody {
	padding-right: 0.7em;
}
.aw-botask .taskview td.rightcol {
	background-color: #F2F2F1;
}
.aw-botask .taskview .rightcol .colbody {
	padding: 0 0.6em;
}

.aw-botask .taskview a {
	text-decoration: none;
}

.aw-botask .taskview .taskbody {
	background-color: #F9F5DF;
	padding: 0.5em 1em;
}
.aw-botask .taskview .manbuttons {
	height: 22px;
}

.aw-botask .taskview .manbuttons,
.aw-botask .taskview .ptbuttons {
	margin: 1em 0;
}
.aw-botask .taskview .btkbt {
	border-bottom: 1px dotted;
	margin-right: 1em;
}
.aw-botask .taskview .beditor {
	color: #006699;
}
.aw-botask .taskview .bsetexec {
	color: #73A110;
	font-size: 1.5em;
}
.aw-botask .taskview .bremove {
	color: #D6583F;
}

.aw-botask .taskview .ptlistsh {
	color: #006699;
	font-size: 1.4em;
}
.aw-botask .taskview .ptappend {
	color: #006699;
}
.aw-botask .taskview .ptlist {
	clear: both;
	margin-top: 0.5em;
	display: block;
}
.aw-botask .tlist table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
.aw-botask .tlist table th {
	background-color: #F4F4EE;
	font-weight: normal;
	padding: 0;
	white-space: nowrap;
	text-align: left;
	height: 1.8em;	
}
.aw-botask .tlist table th {
	padding: 0.4em 0.3em;
}
.aw-botask .tlist tr.row td {
	padding: 0.5em 0.3em 0.6em 0.3em;
}

.aw-botask .tlist table th.tname {
	width: 75%;
}
.aw-botask .tlist table th.tname span {
    margin-left: 30px;
}
.aw-botask .tlist .tname .ch-ico {
	float: left;
	width: 30px;
	height: 15px;
}
.aw-botask .tlist .tname .ch-tl {
	margin-left: 30px;
}
.aw-botask .tlist div.ch-btn {
    background: url("/modules/botask/images/expd.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
	margin-top: 0.25em;
    margin-left: 4px;
    width: 20px;
}
.aw-botask .tlist .expanded div.ch-btn {
    background-image: url("/modules/botask/images/clps.gif");
}
.aw-botask .tlist .nochild div.ch-btn {
    background-image: none;
}
.aw-botask .tlist .tname .new,
.aw-botask .tlist .tname .chnew {
	display: none;
	font-family: sans-serif;
	vertical-align: top;
	font-size: 60%;
	color: red;
}
.aw-botask .tlist .tname .chnew {
	font-size: 50%;
	vertical-align: bottom;
}
.aw-botask .tlist .tchnew .tname .chnew,
.aw-botask .tlist .tnew .tname .new {
		display: inline;
}

.aw-botask .tlist .level0 .tname .ch-ico{}
.aw-botask .tlist .level0 .tname .ch-tl	{font-size:		1.4em;}

.aw-botask .tlist .level1 .tname .ch-ico{margin-left:	15px;}
.aw-botask .tlist .level1 .tname .ch-tl {font-size:		1.2em;}

.aw-botask .tlist .level2 .tname .ch-ico{margin-left:	30px;}
.aw-botask .tlist .level2 .tname .ch-tl {font-size:		1.1em;}

.aw-botask .tlist .level3 .tname .ch-ico{margin-left:	45px;}
.aw-botask .tlist .level3 .tname .ch-tl {font-size:		1em;}

.aw-botask .tlist .level4 .tname .ch-ico{margin-left:	60px;}
.aw-botask .tlist .level4 .tname .ch-tl {font-size:		0.9em;}

.aw-botask .tlist .level5 .tname .ch-ico{margin-left:	75px;}
.aw-botask .tlist .level5 .tname .ch-tl {font-size:		0.8em;}

.aw-botask .tlist .level6 .tname .ch-ico{margin-left:	90px;}
.aw-botask .tlist .level6 .tname .ch-tl {font-size:		0.75em;}

.aw-botask .tlist .level7 .tname .ch-ico{margin-left:	105px;}
.aw-botask .tlist .level7 .tname .ch-tl {font-size:		0.7em;}

.aw-botask .tlist .level8 .tname .ch-ico{margin-left:	120px;}
.aw-botask .tlist .level8 .tname .ch-tl {font-size:		0.65em;}

.aw-botask .tlist .level9 .tname .ch-ico{margin-left:	135px;}
.aw-botask .tlist .level9 .tname .ch-tl {font-size:		0.6em;}

.aw-botask .tlist .level10 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level10 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level11 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level11 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level12 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level12 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level13 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level13 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level14 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level14 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level15 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level15 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist .level16 .tname .ch-ico{margin-left:	150px;}
.aw-botask .tlist .level16 .tname .ch-tl {font-size:	0.55em;}

.aw-botask .tlist table th.tddl {
	width: 9em;
} 
.aw-botask .tlist table th.tautor, 
.aw-botask .tlist table th.texec {
	width: 25%;
}
.aw-botask .tlist table th.tfav {
	width: 32px;
}

.aw-botask .tlist table th.tprt {
	width: 9em;
}
.aw-botask .tlist table td.tprt .tl {
	text-align: center;
	padding: 1px 0;
}

.aw-botask .tlist table .prt1 td.tprt .tl {	color: #C82100; }
.aw-botask .tlist table .prt2 td.tprt .tl { color: #FF4E00; }
.aw-botask .tlist table .prt3 td.tprt .tl {	color: #006699; }
.aw-botask .tlist table .prt5 td.tprt .tl {	color: #DDDDDD; }
.aw-botask .tlist table .prt4 td.tprt .tl {	color: #839097; }

.aw-botask .tlist table .expired td, 
.aw-botask .tlist table .expired td a,
.aw-botask .tlist table .expired td.tprt .tl {
	color: #C82100; 
}

.aw-botask .tlist table .closed td, 
.aw-botask .tlist table .closed td a,
.aw-botask .tlist table .closed td.tprt .tl {
	color: #839097; 
}

.aw-botask .tlist tr.row:hover {
	background: none repeat scroll 0 0 #FFF0C6;
}

.aw-botask .taskview .author {
	width: 220px;
}
.aw-botask .tlist .tlmenu {
	margin-left: 10px;
}
.aw-botask .tlist .tlitem {
	cursor: pointer;
	float: left;
	background-color: #E3E3D7;
	margin: 0 1px;
	padding: 5px 15px; 
}
.aw-botask .tlist .tlitem:hover {
	text-decoration: underline;
	
}
.aw-botask .tlist .current {
	background-color: #F4F4EE;
}
.aw-botask .tlist .ttable {
	clear: both;
}

.aw-botask .colinfo .cirow {
	margin: 5px 0;
	clear: both;
	padding-bottom: 3px;
	border-bottom: #73A110 1px dotted;
}
.aw-botask .colinfo .nobline {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	border-bottom: none !important;
}

.aw-botask .colinfo .tl {
	font-weight: bold; 
	clear: both;
}
.aw-botask .colinfo .tl {
	float: left;
}
.aw-botask .colinfo .vl {
	width: 100%;
}
.aw-botask .colinfo .vi {
	width: 100%;
	text-align: right;
}
.aw-botask .colinfo ._dl .dt,
.aw-botask .colinfo .ddl .dt {
		font-size: 1.37em;
}
.aw-botask .colinfo ._dl .tm, 
.aw-botask .colinfo .ddl .tm {
		font-size: 1.2em;
}
.aw-botask .colinfo .user {
	font-weight: bold;
	margin-bottom: 5px;
}
