.aw-botask .taskview .head {
	border: 1px solid #8C8D8E;
	background-color: #E3E3D7;
}
.aw-botask .taskview .head table {
	width: 100%;
}
.aw-botask .taskview .head td.title,
.aw-botask .taskview .head td.status {
	padding: 7px 11px;
}
.aw-botask .taskview .head td.title {
	width: 85%;
	font-size: 1.3em;
}
.aw-botask .taskview .head td.fav {
	padding: 7px 7px;
}
.aw-botask .taskview .head td.status {
	text-align: center;
	background-color: #fff;
	width: 15%;
	border-left: 1px solid #8C8D8E;
	vertical-align: middle;
}

/* * * * * * Info Box * * * * * */
.aw-botask .taskview .infobox {
	border-bottom: 1px solid #8C8D8E;
}
.aw-botask .taskview .infobox table {
	width: 100%;
}
.aw-botask .taskview .infobox dl {
	margin: 8px 0;
}
.aw-botask .taskview .infobox dt {
	font-size: .9em;
}
.aw-botask .taskview .infobox dt,
.aw-botask .taskview .infobox dd {
	text-align: center;
}

/* * * * * * Buttons * * * * * */
.aw-botask .taskview .manbuttons {
	padding: 11px 0;
	text-align: center;
	border-bottom: 1px solid #8C8D8E;
}
.aw-botask .taskview a {
	text-decoration: none;
}
.aw-botask .taskview .btkbt {
	border-bottom: 1px dotted; /**/
	margin-right: 1em;
}

.aw-botask .taskview .bremove {
	color: #D6583F;
}

/* * * * * Icon Buttons * * * * */
.aw-botask .taskview .ibtns {
	white-space: nowrap;
}
.aw-botask .taskview .bc {
	cursor: pointer;
	margin-left: 6px;
	margin-top: 1px;
}
.aw-botask .taskview .b {
   height: 14px;
   width: 12px;	
}
.aw-botask .taskview .bedit-icon {
   background: url("/modules/botask/images/icons001.png") no-repeat scroll -29px -24px transparent;
}
.aw-botask .taskview .badd-icon {
   background: url("/modules/botask/images/icons001.png") no-repeat scroll -57px -24px transparent;	
}


/* * * * * * Body * * * * * */
.aw-botask .taskview .bodybox {
	border-bottom: 1px solid #8C8D8E;
	padding-bottom: 3px;
}
.aw-botask .taskview .taskbody {
	background-color: #F9F5DF;
	padding: 1em 1em;
	margin-top: 5px;
	margin-bottom: 3px;
}

.aw-botask .taskview ul.dfiles {
	margin-top: 10px;
}
.aw-botask .taskview ul.dfiles li.tl {
	margin-right: 10px;
}
.aw-botask .taskview ul.dfiles li {
	float: left;
}

/* * * * * * * Comments * * * * * */
.aw-botask .taskview .tkcomments {
	margin-top: 10px;
	position: relative;
	min-height: 30px;
}
.aw-botask .taskview .tkcomments .shbuttons {
	position: absolute;
	right: 0;
	top: 0;
}
.aw-botask .taskview .mod-comment {
	width: 735px;
	margin-top: 0;
}
.aw-botask .taskview .mod-comment .content .text img {
	max-width: 100%;
	height: auto;
}