.aw-botask {

  .badge {
    background-color: #1F4A70;
  }

  .panel-default > .panel-heading .badge {
    background-color: #286090;
  }

  &.app-workspace {
    > .row > .col-md-3 {
      padding-right: 5px;
    }
  }

  .taskItemView {
    .infoBox {
      padding-top: 10px;
      font-size: 12px;

      .panel-title {
        padding-top: 5px;
      }
      dl {
        margin-bottom: 10px;
      }
    }
    & > .panel-body {
      border-top: 1px solid #eee;
    }

    .pictabPanel {
      position: relative;
      .btnPictabSave {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  .taskItemEdit {
    .form-horizontal .control-label {
      text-align: left;
    }
  }
}