.aw-botask .checkList {
  .checkRow {
    table {
      width: 100%;
    }
    .colCheckbox {
      cursor: pointer;
      width: 18px;
    }
    .colButtons {
      width: 52px;
      text-align: right;
    }

    .input-sm {
      padding: 0;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
  }
}
