.aw-botask .explore {
	min-width: 100px;
	min-height: 64px;
	border: 1px solid #8C8D8E;
}
.aw-botask .explore .empty {
	text-align: center;
	padding-top: 4px;
}

.aw-botask .explore .head a,
.aw-botask .explore .list a {
	color: #000;
	text-decoration: none;
}

.aw-botask .explore .head {
	height: 26px;
	position: relative;
	background-color: #E3E3D7;
	border-bottom: 1px solid #8C8D8E;
}
.aw-botask .explore .head .info {
	padding-top: 5px;
	padding-left: 12px;
}
.aw-botask .explore .head a.title {
	font-size: 1em;
}
.aw-botask .explore .head .info .shgroup {
	font-size: .85em;
	margin-left: 7px;
}
.aw-botask .explore .head .info label:hover {
	text-decoration: underline;
}

.aw-botask .explore .head .info label {
	cursor: pointer;
}
.aw-botask .explore .head .info label.arch {
	margin-right: 7px;
}
.aw-botask .explore .head .info input {
	vertical-align: text-bottom;
	margin-left: 3px;
}

/* * * * * Task Tree List * * * */
.aw-botask .explore .list {
	padding: 5px;
	font-size: 0.95em;
}

.aw-botask .explore table {
	table-layout: fixed;
	width: 100%;
	/*margin-top: 4px; /**/
	border-collapse: collapse;
}

.aw-botask .explore td {
	/* padding-top: 3px;/**/
	height: 22px;
}

.aw-botask .explore .staticon {
	width: 16px;
	position: relative;
	margin-top: 3px;
}

.aw-botask .explore .staticon .chdcls {
	background: url("/modules/botask/images/icons001.png") no-repeat scroll -70px -24px transparent;
}
.aw-botask .explore .staticon .chdexpd {
	background: url("/modules/botask/images/icons001.png") no-repeat scroll -81px -24px transparent;
}
.aw-botask .explore .staticon .chd {
	position: absolute;
	left: 3px;
	top: 2px;
	
	background-color: #fff;
	width: 9px;
	height: 9px;
	cursor: pointer;
}

.aw-botask .explore td.tn {
	background: url("/modules/botask/images/tn.gif") no-repeat scroll 0 0 transparent;
	width: 16px;
}
.aw-botask .explore td.ln {
	background: url("/modules/botask/images/ln.gif") no-repeat scroll 0 0 transparent;
	width: 16px;
}

.aw-botask .explore .ch-tl {
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	margin: 0 10px 0 5px;
	padding: 3px;
}
.aw-botask .explore .ch-tl .shadow {
    background: url("/modules/botask/images/shadow.png") repeat-y scroll 0 0 transparent;
    height: 1.3em;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.aw-botask .explore .rowuser .ch-tl,
.aw-botask .explore .ttypefolder .ch-tl,
.aw-botask .explore .ttypeproject .ch-tl,
.aw-botask .explore .ttypetask .ch-tl {
	padding-left: 16px;
}

.aw-botask .explore .ticon {
	position: absolute; left: 0; top: 1px;
}

.aw-botask .explore .rowuser .ticon,
.aw-botask .explore .ttypefolder .ticon,
.aw-botask .explore .ttypeproject .ticon,
.aw-botask .explore .ttypetask .ticon {
	width: 18px;
    height: 18px;
}
.aw-botask .explore .rowuser .ticon img {
	margin-left: 1px;
	margin-top: 1px;
	width: 16px;
	height: 16px;
}

.aw-botask .explore .ttypefolder .ticonchdcls {
	background: url("/modules/botask/images/tfolderopen.gif") no-repeat scroll 0 0 transparent;    
}
.aw-botask .explore .ttypefolder .ticonchdexpd {
    background: url("/modules/botask/images/tfolderclose.gif") no-repeat scroll 0 0 transparent;    
}
.aw-botask .explore .ttypetask .ticon {
	background: url("/modules/botask/images/ttask.gif") no-repeat scroll 0 0 transparent;    
}
.aw-botask .explore .ttypeproject .ticon {
	background: url("/modules/botask/images/tproject.gif") no-repeat scroll 0 0 transparent;    
}

.aw-botask .explore .row .tkline:hover {
	background-color: #FFF0C6;
}
.aw-botask .explore .row .tkline:hover .ch-tl .shadow {
    background: url("/modules/botask/images/shadow-row.png") repeat-y scroll 0 0 transparent;
}

.aw-botask .explore tr .select {
	font-weight: bold;
}

.aw-botask .explore tr .seluser a {
	font-style: italic;
	color: red;
}

/* * * * * * Task Menu * * * * * */
.aw-botask .explore .row .tkline {
	position: relative;
}

.aw-botask .explore .tkmenu {
	position: absolute;
	background-color: #fff;
	border: 1px solid #dadada;
	border-right: none;
}
.aw-botask .explore .head .tkmenu {
	top: 1px;
	right: 3px;
}
.aw-botask .explore .row .tkmenu {
	display: none;
	top: -3px;
	right: -4px;

}

.aw-botask .explore .tkline:hover .tkmenu {
	display: block;
}

.aw-botask .explore .tkmenu .b {
	cursor: pointer;
	padding-left: 5px;
	padding-top: 4px;
	width: 18px;
	height: 18px;
	float: left;
	border-right: 1px solid #dadada;
}
.aw-botask .explore .tkmenu .b:hover {
	background-color: #FFF0C6; 
}
.aw-botask .explore .tkmenu .bc {
	width: 12px;
	height: 14px;
}
.aw-botask .explore .tkmenu .bgo {
	background: url("/modules/botask/images/icons002.png") no-repeat scroll -20px -39px transparent;
}

.aw-botask .explore .tkmenu .badd {
	background: url("/modules/botask/images/icons001.png") no-repeat scroll -57px -24px transparent;
}
.aw-botask .explore .tkmenu .bedit {
	background: url("/modules/botask/images/icons001.png") no-repeat scroll -29px -24px transparent;
}
.aw-botask .explore .tkmenu .bremove {
	background: url("/modules/botask/images/icons001.png") no-repeat scroll -42px -24px transparent;
}

/* * * * * * Task Status * * * * * */
.aw-botask .explore .row .strem .ch-tl {
	text-decoration: line-through;
}
.aw-botask .explore .row .starch .ch-tl {
	font-style: italic;
}

.aw-botask .explore .row .notmenu .tkmenu,
.aw-botask .explore .row .strem .tkmenu,
.aw-botask .explore .row .starch .tkmenu {
	display: none;
}