.aw-botask .filter {
    background: white;
    border: 1px solid #8C8D8E;
}

.aw-botask .filter .boxitem {
    border: none;
    border-top: 1px solid #8C8D8E;
}

.aw-botask .filter .setup {
    padding: 10px;
}

.aw-botask .filter .setup .dsc {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.aw-botask .filter .frow {
    margin-bottom: 10px;
}

.aw-botask .filter .frow select {
    width: 250px;
}

.aw-botask .filter .frow .seluser {
    padding-right: 15px;
}

.aw-botask .filter .frow .selstat {
    padding-left: 15px;
}
