.aw-botask {
  .ws-loading {
    margin-top: 120px;
    text-align: center;
  }

  .board {
    /* * EasyList in left col * */
    .tlist td.tname .ch-ico,
    .sidebar .tlist thead,
    .sidebar .tlist td.tddl,
    .sidebar .tlist td.tprt,
    .sidebar .tlist td.tvot,
    .sidebar .tlist td.tfav {
      display: none;
    }

    .tlist td.tname .ch-tl {
      margin-left: 3px;
    }

    .tlist td.tname .ch-tl {
      font-size: 1.2em;
    }
    .sidebar .tlist td.tname .ch-tl {
      font-size: 1em;
    }

    .sidebar .boxitem,
    .sidebar .explore {
      margin-bottom: 5px;
    }
  }
}
